@import "../../styles/utilities/variables";

.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: $primary-color;
  color: $white;
  padding: 0 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: 0;

  transition: filter, background-color 0.2s;

  img {
    margin-right: 8px;
  }

  &.outlined {
    background: $white;
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  #page-room &:not(:disabled):hover {
    background-color: $primary-color;
    color: $white;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
