@import "./utilities/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: $white-light;
  color: $light-black;
}

body,
input,
button,
textarea {
  font: 400 1.6rem "Roboto", sans-serif;
}
