@import "../../styles/utilities/variables";

.question {
  background: $white-lighter;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  &.highlighted {
    background-color: $primary-color-lighter;
    border: 1px solid $primary-color;

    footer .user-info span {
      color: $light-black;
    }
  }

  &.answered {
    background-color: $white-dark;
  }

  p {
    color: $light-black;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    > div:not(.user-info) {
      display: flex;
      gap: 16px;
    }
  }

  .user-info {
    display: flex;
    align-items: center;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    span {
      margin-left: 8px;
      color: $gray;
      font-size: 1.4rem;
    }
  }

  button {
    border: 0;
    background: transparent;
    cursor: pointer;
    transition: filter 0.2s;

    &.like-button {
      display: flex;
      align-items: flex-end;
      color: $gray;
      gap: 8px;

      &.liked {
        color: $primary-color;

        svg path {
          stroke: $primary-color;
        }
      }
    }

    &:hover {
      filter: brightness(0.7);
    }
  }
}
